@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* div {
    border: 5px solid red;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
}

.sidebar {
    background-color: #1893D4;
    grid-column: 1 / 3;
    grid-row: 1 /3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.dashboard {
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 24px;
    display: grid;
    gap: 20px;
    padding-left: 20px;
}

li {
    display: flex;
    gap: 20px;
    padding: 4px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.search {
    font-size: 24px;
    width: 90%;
    height: 26px;
    background-color: #E2E8F0;
    border-radius: 25px;
}

.tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

.avatar {
    border-radius: 50%;
}

.avatar.one {
    height: 50px;
    width: auto;
}

.bl {
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
}

.ht {
    font-size: 16px;
    font-weight: bold;
}

.tag {
    font-size: 24px;
    font-weight: bold;
}

.avatar.two {
    height: 75px;
    width: auto;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: #1893D4;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.content {
    background-color: #E3E9F0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

